* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 100vw;
  height: 100vh;
}

.container {
  background: rgb(7, 0, 128);
  background: linear-gradient(
    7deg,
    rgba(7, 0, 128, 1) 0%,
    rgba(9, 9, 121, 1) 66%,
    rgba(85, 85, 204, 1) 100%
  );
  width: 18.75rem;
  height: 32.25rem;
  border-radius: 50px;
}

.search-container {
  display: flex;
  margin-top: 30px;
  justify-content: center;
  color: black;
}

.input {
  border: 2px solid transparent;
  width: 17em;
  height: 2.5em;
  padding-left: 0.8em;
  outline: none;
  overflow: hidden;
  background-color: #f3f3f3;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: all 0.5s;
}

.input:hover,
.input:focus {
  border: 2px solid #464646;
  box-shadow: 0px 0px 0px 0.4rem rgba(255, 255, 255, 0.2);
  background-color: white;
}

#result-container {
  color: whitesmoke;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.status {
  display: flex;
}

img {
  width: 16.62rem;
}

.temp {
  font-weight: bolder;
  font-size: 4rem;
}

.local-name {
  font-weight: bold;
  font-size: 1.8rem;
}

#searchBtn {
  width: 2rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #f3f3f3;
  font-size: 1rem;
  font-weight: bold;
  border: none;
}

#searchBtn:hover {
  background: rgb(138, 133, 219);
  cursor: pointer;

}

#loader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50%;
  visibility: hidden;
}
.loaderMiniContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 130px;
  height: fit-content;
}
.barContainer {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  background-position: left;
}
.bar {
  width: 100%;
  height: 8px;
  background: linear-gradient(
    to right,
    rgb(255, 255, 255),
    rgb(255, 255, 255),
    rgb(255, 255, 255)
  );
  background-size: 200% 100%;
  border-radius: 10px;
  animation: bar ease-in-out 3s infinite alternate-reverse;
}
@keyframes bar {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
.bar2 {
  width: 50%;
}
.svgIcon {
  position: absolute;
  left: -25px;
  margin-top: 18px;
  z-index: 2;
  width: 70%;
  animation: search ease-in-out 3s infinite alternate-reverse;
}
@keyframes search {
  0% {
    transform: translateX(0%) rotate(70deg);
  }

  100% {
    transform: translateX(100px) rotate(10deg);
  }
}
.svgIcon circle,
line {
  stroke: rgb(255, 255, 255);
}
.svgIcon circle {
  fill: rgba(98, 65, 142, 0.238);
}

.error {
  text-align: center;
}